* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #fff;
}

main {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 165vh;
    background-color: #f3f3f3;
    background-image: url('../assets/pic2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/pic3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-container {
    background-color: transparent;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
}

.wrapper-container h1 {
    font-size: 100px;
    color: white;
    font-weight: 400;
    transition: 0.5s;
}

.wrapper-container p {
    color: White;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    text-align: justify;
}

.wrapper-container img {
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/*<----VILLA HEAD---->*/
section#hero {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 65%;
    text-align: center;
}

section#hero i {
    color: white;
    height: 30px;
    font-size: 130px;
    padding: 1em;
}

#hero h1 {
    color: white;
    height: 30px;
    font-size: 130px;
    padding-bottom: 1.5em;
}

#hero:hover h1 {
    font-size: 150px;
    -webkit-text-stroke: 6px white;
    color: transparent;
    transition: 0.3s;
}

#hero:hover i {
    font-size: 150px;
    -webkit-text-stroke: 6px white;
    color: transparent;
    transition: 0.3s;
}

/*<---FORM--->*/
.container {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.form-group {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

label {
    color: white;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="tel"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 14px;
    background-color: orange;
    color: white;
    outline: none;
}

button {
    font-size: large;
    padding: 10px 20px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    font-size: large;
    background-color: orange;
    color: white;
}

@media only screen and (max-width: 644px) {
    main {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 220vh;
        background-color: white;
    }

    header {
        position: relative;
        width: 100%;
        height: 40vh;
        background-image: url('../assets/pic1.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    section#hero {
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        height: 35%;
        text-align: center;
    }

    section#hero i {
        color: white;
        height: 25px;
        font-size: 40px;
    }

    #hero h1 {
        color: black;
        height: 0px;
        font-size: 35px;
    }

    #hero:hover h1 {
        font-size: 45px;
        -webkit-text-stroke: 2px orange;
        color: transparent;
        transition: 0.3s;
    }

    #hero:hover i {
        font-size: 45px;
        -webkit-text-stroke: 2px orange;
        color: transparent;
        transition: 0.3s;
    }

    .wrapper-container {
        background-color: transparent;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;
        display: block;
    }

    .wrapper-container h1 {
        font-size: 45px;
        color: white;
        font-weight: 400;
        transition: 0.5s;
        width: 100%;
    }

    .wrapper-container p {
        background-color: blanchedalmond;
        color: black;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px;
        font-size: large;
        text-align: justify;
        border-radius: 14px;
    }

    .wrapper-container img {
        height: 150px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .container {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .form-group {
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    label {
        color: white;
        font-weight: bold;
        text-align: left;
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"],
    textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 14px;
        background-color: orange;
        color: white;
        outline: none;
    }

    button {
        font-size: large;
        padding: 10px 20px;
        background-color: #f3f3f3;
        border: none;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        font-size: large;
        background-color: orange;
        color: white;
    }
}